#footer-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3dvh;
}

.footer {
    color: white;
    display: flex;
    align-items: center;
}

.footer-text {
    margin-left: 10px;
}