#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
    padding-bottom: 20vh;
}

.landing-content {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    max-width: 1200px;
}

.text-container {
    text-align: center;
}

.intro {
    color: white;
    font-size: 1.2rem;
}

.intro.name {
    color: rgb(137, 207, 240);
    font-size: 2rem;
}

.intro.text {
    font-size: 1rem;
    color: rgb(245, 245, 220);
}

.pic-container {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.photo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid rgb(100, 100, 100);
    box-shadow: 10px 5px 5px rgba(130, 30, 30, 0.25);
    border-radius: 50%;
}

@media screen and (max-width: 950px) {
    #landing {
        padding-top: 10vh;
    }

    .landing-content {
        flex-direction: column;
        align-items: center;
    }

    .text-container {
        text-align: center;
        padding: 20px 0;
        margin-top: 30px;
    }

    .intro.name {
        font-size: 1.5rem;
    }

    .intro.text {
        font-size: 0.9rem;
    }

    .pic-container {
        margin-left: 0;
    }

    .photo {
        width: 60%;
        height: 60%;
        max-width: 300px;
        max-height: 300px;
        box-shadow: 3px 5px 5px rgba(130, 30, 30, 0.25);
    }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
    .landing-content {
        margin-top: 5vh;
    }

    .pic-container {
        margin-top: 20px;
    }
}