.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 50%;
    color: rgb(160, 160, 160);
    font-size: 28px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.scroll-to-top:hover {
    background-color: rgb(40, 40, 40);
    color: white;
}