#skills {
    display: block;
    color: white;
    padding-top: 12vh;
    padding-bottom: 10vh;
}

.skills-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
}

.skills-intro {
    text-align: center;
    margin-bottom: 3vh;
    color: rgb(245, 245, 220);;
}

.skills-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.skill-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0;
}

.skill {
    width: 100px;
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill-icon {
    width: 50px;
    height: auto;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 50%;
    padding: 10px;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.skill-name {
    font-size: 1rem;
    margin-top: 3px;
}

@media screen and (max-width: 800px) {
    .skills-intro {
        font-size: 0.9rem;
    }

    .skill-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill {
        width: 80px;
        margin: 0 8px 0 8px;
    }

    .skill-icon {
        width: 40px;
        padding: 8px;
    }

    .skill-name {
        font-size: 0.9rem;
        margin-top: 3px;
    }
}